main {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: calc(100vh - 110px);
}
form {
    width: 300px;
}
form > button {
    width: 100%;
    margin-bottom: 20px;
}

input {
    margin-bottom: 5px;
}

main > form > a {
    text-decoration: underline;
    font-size: 12px;
}