.node-data {
    position: absolute;
    bottom: 14px;
    right: 20px;
}
.node-data > div {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}
.node-data > div > :first-child {
    font-weight: bold;
    font-size: 12px;
}