<div class="modal modal--hidden" id="newproj-modal">
    <div class="modal__header">
        <p class="modal__title">Create a New Project</p>
    </div>

    <div class="modal__content">
        <form id="m-newproj-form">
            <p class="modal__field-title">Name</p>
            <input class="m-newproj-name" id="m-newproj-name" type="text" maxlength="128"/>

            <p class="modal__field-title">Description</p>
            <textarea class="m-newproj-desc" id="m-newproj-desc" maxlength="255"></textarea>
        </form>
    </div>

    <div class="modal__footer">
        <p class="modal__status" id="m-newproj-status"></p>

        <div class="modal__buttons">
            <button class="modal__submit" id="m-newproj-submit" form="m-newproj-form">Create</button>
            <button class="modal__cancel" id="m-newproj-cancel">Cancel</button>
        </div>
    </div>
</div>