.item__corner--node > div {
    display: inline-block;
    margin-left: 10px;
    text-align: center;
}
.item__corner--node > div > :first-child {
    font-weight: bold;
    font-size: 12px;
    line-height: 18px;
}

/* Edit project modal */
.m-editprj-name {
    margin-bottom: 12px;
}

/* Add node modal */
.m-addnode-node,
.m-addnode-location,
.m-addnode-interval,
.m-addnode-end,
.m-addnode-batch {
    margin-bottom: 12px;
}