body {
    margin: 0;
    font-family: "Istok Web";
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
    min-width: 450px;
}

main,
.main {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
main {
    margin-top: 20px;
    margin-bottom: 20px;
}
a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: rgb(200, 200, 200);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    line-height: 32px;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 0;
}
button:hover:enabled {
    background-color: rgb(220, 220, 220);
}
button:disabled {
    color: rgb(120, 120, 120);
    cursor: unset;
}

form {
    margin: 0;
}

form input,
form select,
form textarea {
    display: block;
    width: 100%;
    height: 30px;
    padding: 8px;
    font-family: inherit;
    font-size: 14px;
    color: inherit;
    background-color: rgb(200, 200, 200);
    border: 0;
    border-radius: 0;
}
form input:focus,
form select:focus,
form textarea:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}
form textarea {
    height: 60px !important;
}
form select {
    padding: 5px !important;
}
form input[type=text] {
    padding-top: 9px;
}