body {
    margin: 0;
    font-family: "Istok Web";
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
}
a {
    text-decoration: none;
    color: inherit;
}

.main {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 10px;
    padding-right: 10px;
}

.header {
    height: 50px;
    background-color: rgb(200, 200, 200);
    margin-bottom: 30px;
}
.header_title {
    font-size: 20px;
    margin: 0;
    display: inline-block;
    line-height: 50px;
}

.button {
    background-color: rgb(200, 200, 200);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    cursor: pointer;
    line-height: 32px;
    height: 30px;
    user-select: none;
    text-align: center;
}
.button:hover {
    background-color: rgb(220, 220, 220);
}

input {
    border: 0;
    background: rgb(200, 200, 200);
    font-size: 16px;
    padding: 5px;
    width: 100%;
}
select {
    border: 0;
    background: rgb(200, 200, 200);
    font-size: 16px;
    padding: 5px;
}