body {
    margin: 0;
    font-family: "Istok Web";
    background-color: rgb(240, 240, 240);
    color: rgb(50, 50, 50);
    min-width: 450px;
}

main,
.main {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
}
main {
    margin-top: 20px;
    margin-bottom: 20px;
}
main > :last-child {
    margin-bottom: 0;
    margin-top: 20px;
}

a {
    text-decoration: none;
    color: inherit;
}

button {
    background-color: rgb(200, 200, 200);
    font-size: 14px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    line-height: 32px;
    height: 30px;
    border: 0;
    cursor: pointer;
    font-family: inherit;
    border-radius: 0;
}
button:hover:enabled {
    background-color: rgb(220, 220, 220);
}
button:disabled {
    color: rgb(120, 120, 120);
    cursor: unset;
}

form {
    margin: 0;
}
.form-control {
    border-radius: 0 !important;
    background: rgb(200, 200, 200) !important;
    border: 0 !important;
    color: inherit !important;
    font-size: 14px !important;
}
input {
    width: 100%;
    padding: 8px !important;
    height: 30px !important;
}
textarea {
    width: 100%;
    padding: 8px !important;
    height: 60px !important;
}
select {
    padding: 5px !important;
    height: 30px !important;
}

.last-item {
    margin-bottom: 0 !important;
}