.titled-group {
    margin-bottom: 20px;
}
.titled-group--hidden {
    display: none;
}
.titled-group__header {
    margin-bottom: 10px;
    height: 42px;
    position: relative;
}
.titled-group__title {
    margin: 0;
    margin-left: 20px;
    font-size: 22px;
    position: absolute;
    line-height: 32px;
    font-weight: bold;
}
.titled-group__action {
    float: right;
}
.titled-group__separator {
    border: 1px solid rgb(200, 200, 200);;
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
}

.info-group {
    border: 1px solid rgb(200, 200, 200);
    background: white;
    padding: 20px;
    display: flex;
    margin-bottom: 20px;
}
.info-group--hidden {
    display: none;
}
.info-group__left {
    flex-grow: 1;
    margin-right: 20px;
    line-height: 20px;
}
.info-group__header {
    margin-bottom: 4px;
}
.info-group__title {
    font-weight: bold;
}
.info-group__right {
    flex: 0 0 200px;
}
.info-group__action {
    margin-bottom: 5px;
    width: 100%;
}
.info-group__action--last {
    margin-bottom: 0;
}
.info-group__action--hidden {
    display: none;
}

.items-block {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.items-block > .status-message {
    margin: 10px;
}
.items-block__item {
    height: 130px;
    border: 1px solid rgb(200, 200, 200);
    width: calc(33.333% - 22px);
    background: white;
    position: relative;
    font-size: 15px;
    margin: 10px;
    min-width: 0;
}
.items-block__item--thin {
    height: 110px;
}
.item__anchor {
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0;
    padding: 20px;
}
.item__anchor:hover > .item__title {
    text-decoration: underline;
}
.item__anchor:focus {
    outline: none;
}
.item__title {
    font-weight: bold;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 16px;
    margin-bottom: 4px;
}
.item__sub-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    line-height: 18px;
    font-size: 15px;
}
.item__corner {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 15px;
}

/* .item-graph { */
    /* margin: 0;
    width: calc(100% - 22px);
    padding: 10px;
    height: unset; */
    /* height: 350px; */
/* } */

.status-message {
    width: calc(100% - 2px);
    height: 38px;
    border: 1px solid rgb(200, 200, 200);
    background: white;
    text-align: center;
}
.status-message > span {
    font-style: italic;
    font-size: 14px;
    line-height: 40px;
}

@media screen and (max-width: 1000px) {
    .items-block__item {
        width: calc(50% - 22px);
    }

    /* .item-graph {
        width: unset;
    } */
}

@media screen and (max-width: 680px) {
    .items-block__item {
        width: 100%;
    }

    .info-group {
        display: block;
    }
    .info-group__left {
        margin-right: 0;
        margin-bottom: 20px;
    }
}