.titled-group-header {
    margin-bottom: 10px;
    height: 42px;
    position: relative;
}
.titled-group-header > h2 {
    margin: 0;
    margin-left: 20px;
    font-size: 22px;
    position: absolute;
    line-height: 32px;
    font-weight: bold;
}
.titled-group-header > button {
    float: right;
}
.titled-group-separator {
    border: 1px solid rgb(200, 200, 200);;
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
}

.info-group {
    border: 1px solid rgb(200, 200, 200);
    background: white;
    padding: 20px;
    display: flex;
}
.info-group-left {
    flex-grow: 1;
    margin-right: 20px;
    text-align: justify;
}
.info-group-left > :first-child {
    font-weight: bold;
}
.info-group-left > :first-child > :first-child {
    text-decoration: underline;
}
.info-group-right {
    flex: 0 0 200px;
}
.info-group-right > button {
    margin-bottom: 10px;
    width: 100%;
}

.items-block {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.items-block > .status-message {
    margin: 10px;
}
.item {
    height: 140px;
    border: 1px solid rgb(200, 200, 200);
    width: calc(50% - 22px);
    background: white;
    position: relative;
    font-size: 15px;
    margin: 10px;
    min-width: 0;
}
.item-thin {
    height: 110px;
}
.item > a {
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0;
    padding: 20px;
}
.item > a:hover > :first-child {
    text-decoration: underline;
}
.item > a:focus {
    outline: none;
}
.item > a > :first-child {
    font-weight: bold;
    width: 100%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    display: inline-block;
}

.item-graph {
    margin: 0;
    width: calc(100% - 22px);
    padding: 10px;
    height: unset;
}

.status-message {
    width: calc(100% - 2px);
    height: 38px;
    border: 1px solid rgb(200, 200, 200);
    background: white;
    text-align: center;
}
.status-message > span {
    font-style: italic;
    font-size: 14px;
    line-height: 40px;
}

@media screen and (max-width: 650px) {
    .item {
        width: 100%;
    }
    .item-graph {
        width: unset;
    }

    .info-group {
        display: block;
    }
    .info-group-left {
        margin-right: 0;
        margin-bottom: 20px;
    }
}