.group_header {
    margin-top: 30px;
    margin-bottom: 10px;
    height: 42px;
    position: relative;
}
.group_title {
    margin: 0;
    margin-left: 20px;
    font-size: 22px;
    position: absolute;
    line-height: 32px;
}
.group_button {
    float: right;
}
.group_separator {
    border: 1px solid rgb(200, 200, 200);;
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
}

.group_content {
    display: flex;
    flex-wrap: wrap;
    margin: -10px;
}
.group_content > div {
    margin: 10px;
}

.group_item {
    height: 140px;
    border: 1px solid rgb(200, 200, 200);
    width: calc(50% - 22px);
    background: white;
    position: relative;
    font-size: 15px;
    margin: 10px;
}
.group_item > a {
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0;
    padding: 20px;
}
.group_item > a:hover > :first-child {
    text-decoration: underline;
}
.group_item > a:focus {
    outline: none;
}
.group_item > a > :first-child {
    font-weight: bold;
}

.message_item {
    width: 100%;
    height: 40px;
    border: 1px solid rgb(200, 200, 200);
    background: white;
    text-align: center;
}
.message_item > span {
    font-style: italic;
    font-size: 14px;
    line-height: 42px;
}

@media screen and (max-width: 650px) {
    .group_item {
        width: 100%;
    }
}