.header {
    margin-bottom: 20px;
}
.header__first-row {
    background-color: rgb(200, 200, 200);
}
.header__title {
    font-size: 20px;
    margin: 0;
    display: inline-block;
    line-height: 50px;
    font-weight: bold;
}

.user {
    float: right;
    position: relative;
    top: 13px;
}
.user__open-menu {
    float: left;
    margin-right: 5px;
    cursor: pointer;
    user-select: none;
}
.user__name {
    float: right;
    position: relative;
    top: 5px;
}
.user__menu {
    width: 200px;
    background-color: white;
    border: 2px solid rgb(200, 200, 200);
    border-top: unset;
    position: absolute;
    right: 0;
    z-index: 1;
    padding: 10px;
    padding-top: 0;
    top: 37px;
}
.user__menu--hidden {
    display: none;
}
.user__log-out {
    width: 100%;
    margin-top: 10px;
}
.user__attribution {
    font-size: 13px;
    text-align: justify;
    margin-bottom: 0;
    margin-top: 10px;
}

.actions {
    text-align: center;
    background-color: rgb(200, 200, 200);
    padding: 10px;
    font-size: 14px;
    margin-top: 20px;
    line-height: 20px;
}
.actions__anchor {
    text-decoration: underline;
}