.group_item > a {
    display: inline-block;
    width: calc(100% - 40px);
    height: calc(100% - 40px);
    margin: 0;
    padding: 20px;
}
.group_item > a:focus {
    outline: none;
}
.group_item > a > :first-child {
    font-weight: bold;
}
.group_item > a > :last-child {
    position: absolute;
    bottom: 20px;
    right: 20px;
    line-height: 10px;
}