.modal-shade {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(240, 240, 240, 0.5);
    z-index: 2;
}
.modal {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: calc(100% - 64px);
    max-width: 936px;
    background: white;
    border: 2px solid rgb(200, 200, 200);
    max-height: calc(100% - 60px);
    z-index: 3;
}

.modal-header {
    height: 40px;
}
.modal-header > span {
    font-weight: bold;
    margin-left: 20px;
    line-height: 42px;
}
.modal-header > button {
    width: 40px;
    float: right;
    height: 100%;
}
.modal-header > button > i {
    margin-left: -1px;
}

.modal-content {
    padding: 20px;
    border-bottom: 2px solid rgb(200, 200, 200);
    border-top: 2px solid rgb(200, 200, 200);
}

.modal-footer {
    float: right;
    margin: 10px;
    margin-right: 20px;
}
.modal-footer > :first-child {
    float: left;
    margin-right: 10px;
    width: 130px;
}
.modal-footer > :last-child {
    float: right;
}